/* header styles */
.welcome {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner Image.png");
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  background-repeat: no-repeat;
  margin: 50px auto;
}
.titles {
  font-family: "Merriweather", serif;
  color: white;
  text-align: center;
  padding: 140px 344px 177px 344px;
}
.happy {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0px;
}
.banner-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  margin-top: 10px;
  line-height: 95px;
}
/* offer section styles */
.offer {
  font-family: "Inter", sans-serif;
  margin: 120px auto 0px;
  text-align: center;
}
.main-offer {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.sub-title {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.category {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase;
}
.new-year-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  width: 802.9px;
  height: 500px;
}
/* Midnight party section styles */
.midnight-party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Vectorrr.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 120px auto;
  width: 1320px;
  height: 600px;
  display: flex;
  justify-content: space-between;
}
.midnight-content {
  padding-left: 126px;
}
.midnight-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  margin-bottom: 0px;
  padding-top: 57px;
}
.midnight-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 697px;
  margin-top: 24px;
  margin-bottom: 0px;
}
.join-now {
  margin-top: 48px;
  margin-left: 30px;
  color: #fff;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.midnight-image {
  margin-right: 138px;
  margin-bottom: 69px;
  margin-top: 69px;
  width: 319.83px;
  height: 464.662px;
}
/* Venue Section Styles */
.venue {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  border-radius: 16px;
  margin: 0px auto;
}
.venue-content {
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
  text-transform: capitalize;
  padding-top: 100px;
  padding-right: 385px;
  padding-left: 385px;
}
h4 {
  color: #070211;
}
span.pdt {
  color: #f00;
}
.btn-venue {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 48px;
  margin-bottom: 126px;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  background: #f00;
}
/* coming soon section styles */
.coming-soon {
  display: flex;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  width: 1320px;
  height: 482px;
  margin: 120px auto;
}
#best-offer {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.best-offer {
  width: 393px;
}
.coming-soon-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 22px;
}
.offer-right {
  text-align: left;
  width: 276px;
}
.red-date {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-left: 0px;
  margin-bottom: 16px;
}
.offer-description,
.right-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
#new-year {
  display: block;
  width: 140px;
  height: 140px;
  margin-top: 43px;
}
.middle-img {
  border: 15px #f00 solid;
  border-radius: 463px;
  padding: 49px;
}
/* Holiday Sale Section Styles */
.holiday-sale {
  text-align: center;
  margin-top: 120px;
  background: #fff;
}
.functional {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.sale {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 28px;
}
span.holiday {
  color: #f00;
}
p.sale-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  width: 1068px;
  margin: 0 auto;
}
/* portfolio section styles */
.portfolio-section {
  background: #fff;
  border-radius: 16px;
  text-align: center;
  margin-bottom: 120px;
}
.gift-content {
  text-align: left;
  margin-top: 178px;
  margin-left: 280px;
}
.gifts {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.awesome-portfolio {
  color: #070211;
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 0px;
}
.portfolio-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
  margin-top: 22px;
  margin-bottom: 48px;
}
.gift-image-one > .yellow-bag,
.black-bag,
.red-hill {
  width: 424px;
  height: 450px;
  padding: 12px;
}
.gift-image-two > .ash-hill,
.white-glass,
.beauty-product {
  width: 424px;
  height: 450px;
  padding: 12px;
}
/* newsletter section styles */
.subscribe-newsletter {
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 1320px;
  height: 616px;
  margin: 0 auto;
}
.newsletter-img {
  width: 150px;
  height: 150px;
  margin-top: 80px;
  margin-bottom: 40px;
}
.subscribe {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 22px;
}
.newsletter-desc {
  margin-top: 0px;
  margin-bottom: 48px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.form {
  padding-bottom: 80px;
}
.email {
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  border: none;
  padding: 25px 70px 25px 30px;
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}
.subscribe-btn {
  text-decoration: none;
  border: none;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 24px 56px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-left: 0px;
}
/* footer section styles */
.footer {
  display: flex;
  background: #000;
  color: #fff;
  justify-content: space-between;
  margin-top: 120px;
}
.facebook,
.instagram,
.twitter,
.linkedin {
  padding: 0px 12px;
}
.footer-left,
.footer-icons,
.footer-right {
  margin: 120px;
}
.footer-icons {
  margin-top: 298px;
}
.footer-left,
.footer-right {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.address {
  margin-bottom: 260px;
}
.unsubscribe {
  margin-top: 260px;
  margin-left: 140px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  background: transparent;
  border: none;
}
.telephone,
.website {
  margin: 16px;
}
.footer-right {
  margin-top: 120px;
}
